.inputComponent {
  padding: 10px 20px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
}

.inputError {
  border: 1px solid red;
}

.error {
  color: red;
  font-size: 12px;
}
