Main > Header{
  background-color: rgb(240, 240, 240);
  display: flex; justify-content: space-between;
  padding: 4px;
  position: sticky; top: 0;
  width: 100%
}


Main > Header Menu{ display: flex }

Main > Header Menu > *{
  border: 1px solid grey;
  padding: 10px 20px;
  text-decoration: none
}
Main > Header Menu > *:not(:last-child){ margin-right: 4px }
Main > Header Menu > *:hover{
  background-color: rgba(0, 0, 0, 0.96);
  color: white
}