.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputDiv {
    width: 40%;
    margin-bottom: 20px;
}

.input p {
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 5px 0;
    color: #e1643b;
}

.input input {
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    height: 35px;
    border: none;
    font-size: 1em;
    color: white;
    padding-left: 20px;

}

.buttonSing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%;
}

.right {
    text-align: left;
    height: 55px;
}

.left {
    height: 55px;
    text-align: right;
}

.left a {
    text-decoration: none;
    margin-top: 20px;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 35px;
    color: #e21d26;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #e21d26;
    min-width: 50%;
    text-align: center;
    padding: 0 10px;
}

.right button {
    height: 35px;
    border: none;
    min-width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    margin-top: 20px;
    background: #e4d9c7;
    cursor: pointer;
    padding: 0 10px;
}

@media screen and (max-width: 1024px) {
    .input {
        margin-bottom: 50px;
    }

    .inputDiv {
        width: 100%;
    }

    .left a {
        min-width: 100%;
    }

    .right button {
        min-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .input {
        margin-bottom: 50px;
    }

    .inputDiv{
        width: 100%;
        /*margin-bottom: 30px;*/
    }

    .right,
    .left {
        height: auto;
    }

    .left a {
        margin-top: 5px;
    }

    .right button {
        margin-top: 5px;
    }
}

@media screen and (max-width: 415px) {
    .buttonSing {
        grid-template-columns: 1fr;
    }

    .left a {
        font-size: 1em;
    }
}